<ion-header>
  <ion-navbar>
    <ion-title>
      Parking Assist
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button (click)="getLocation()" id="parkButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
  Can I Park Here?
</button>


  <div id="mapContainer">
    <div id="map" style="height: 400px; width: 100%;"></div>
  </div>


  <div id="rulesContainer">

    <div *ngIf="canPark == true">
      <button class="mdl-button mdl-js-button mdl-button--primary">
      YES
     </button>
    </div>

    <div *ngIf="canPark == false">
      <button class="mdl-button mdl-js-button mdl-button--primary">
      NO
      </button>
    </div>

  </div>

  <!-- Restrictions -->

  <div *ngIf="restrictions.length > 0">
    <div *ngFor="let rest of restrictions">
      <span class="mdl-chip mdl-chip--contact">
    <span class="mdl-chip__contact mdl-color-text--white"><ion-icon name="close" style="color:red;"></ion-icon></span>
      <span class="mdl-chip__text">{{rest}}</span>
      </span>
    </div>
  </div>


  <div *ngIf="exceptions != ''">
    <span class="mdl-chip mdl-chip--contact">
    <span class="mdl-chip__contact mdl-color-text--white"><ion-icon name="checkmark" style="color:green;"></ion-icon></span>
    <span class="mdl-chip__text">{{exceptions}}</span>
    </span>
  </div>

</ion-content>