page-home {

	.custom-content{
		background: #F8F9FB;
	}

	.toolbar-title {
		overflow: visible;
	}
	.appContainer {
		display: flex;
		align-content: flex-start;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.ResultBtn {
		font-size: 4vh;
		padding: 10%;
		height: 100%;
	}
	
	.CResultBtn {
		font-size: 6vh;
		padding: 10%;
		height: 100%;
	}
	#restrictContainer {
		align-content: left;
		align-items: left;
	}

	.greenTxt {
		color: green;
	}

	.redTxt {
		color: red;
	}

	.smaller-padding{
		padding-top: 8px;
		padding-bottom: 2px;
		display: flex;
		flex-direction: row;
		align-self: center;
		margin-left: auto;
		margin-right: auto;
	}
}
